@import '../variables.scss';

.pricing-wrapper {
  background: #f1f1f1;
  padding: 1rem;
}

.subscription-options {
  display: flex;
  justify-content: space-between;
  
  .option {
    background: $white;
    border: 2px solid $gray-medium;
    user-select: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 49%;
    border-radius: 5px;
    padding: 1.5rem 1rem;
    
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }

    &.selected {
      background: #e9f3ff;
      border: 2px solid $blue-medium;

      .period {
        color: $blue-medium;
      }
    }

    .price {
      display: flex;
      flex-direction: column;
      font-size: 3rem;
      font-weight: 600;
      padding: 1rem 0;
    }

    .period {
      font-size: 1rem;
      font-weight: 600;
    }

    .subtext {
      font-size: 1rem;
      color: gray;
    }
  }
}

.cc-form {
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid $gray-medium;
  border-radius: 5px;
  background: white;
  
  .StripeElement {
    box-sizing: border-box;
    margin: 1rem 0;
  }

  .btn.lg {
    margin-bottom: 0;
  }
}

.error {
  text-align: center;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0;
  color: #bd0000;
  background: #ffc5c5;
}
