@import '../variables.scss';

.subscription-options {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 1rem;
  
  .option {
    background: $white;
    border: 2px solid #c5c5c5;
    user-select: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 49%;
    border-radius: 5px;
    padding: 1.5rem 1rem;
    
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }

    &.selected {
      background: #e9f3ff;
      border: 2px solid $blue-medium;

      .period {
        color: $blue-medium;
      }
    }

    .price {
      display: flex;
      align-items: flex-end;
      font-size: 3rem;
      font-weight: 600;
      padding: 1rem 0;
    }

    .period {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 700px) {
  .subscription-options {
    padding: 0.5rem;
  }
}