$black: #000000;
$white: #ffffff; 

$red-light: #e47575;
$red-medium: #ff0000;
$red-dark: #c50505;

$green-light: #78f178;

$white: #ffffff;
$black: #000000;

$blue-medium: #1d82ff;

$gray: gray;
$gray-light: #f5f5f5;
$gray-lightest: #e0e0e0;