@import './variables.scss';

.card .spending-by-category {
  margin: 0 auto;
}

.card.category-selector {
  border: 1px solid $gray-lightest;
  border-radius: 0.3rem;
  padding: calc(1rem - 1px);
}

.one-category-row, .category-header-row{
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  margin: 0.1rem 0;
  border-radius: 5px;
  user-select: none;

  &.selected {
    background: $blue-medium;
    color: white;
  }
}

.one-category-row:not(.selected):hover {
  cursor: pointer;
  color: $blue-medium;
}

.category-header-row {
  font-weight: 600;
  text-decoration: underline;
}

.category-name {
  font-weight: 600;
  flex-grow: 1;
}

.category-amount {
  width: 18%;
  text-align: left;
}

.category-percentage {
  text-align: right;
  width: 26%
}