.App {
  width: 90%;
  max-width: 600px;
  margin: 2rem auto;
}

* {
  font-family: 'Anonymous Pro', monospace;
}

button {
  font-size: 1rem;
}

button.cancel {
  border: none;
  text-decoration: underline;
  color: #585858;
  background: none;
}

button.submit {
  background: #6ef56e;
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  color: black;
}

.card {
  padding: 1.3rem;
  margin: 0.3rem 0;
  border: 2px solid #000000;

  h3 {
    margin-top: 0;
  }
}

.one-expense {
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  margin: 0.7rem 0;
  border-radius: 5px;
  background: #f3f3f3;

  display: flex;
  justify-content: space-between;
}


@media only screen and (max-width: 700px) {
  .card {
    padding: 1rem;
  }
}