.App {
  max-width: 600px;
  margin: 2rem auto;
}

.new-expense-form {
  padding: 2rem;
  border: 2px solid #000000;


  .oneInput {
    margin: 0.5rem 0;
  }
}

.one-expense {
padding: 0.5rem;
    border: 1px solid #e0e0e0;
    margin: 0.7rem 0;
    border-radius: 5px;
    background: #f3f3f3;

    display: flex;
    justify-content: space-between;
}