.App {
  width: 90%;
  max-width: 600px;
  margin: 2rem auto;
}

.card {
  padding: 2rem;
  border: 2px solid #000000;

  h3 {
    margin-top: 0;
  }
}

.new-expense-form {
  label {
    display: block;
  }

  .one-input {
    margin: 1rem 0;
  }
}

.one-expense {
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  margin: 0.7rem 0;
  border-radius: 5px;
  background: #f3f3f3;

  display: flex;
  justify-content: space-between;
}