@import './variables.scss';

.half-square-wrapper {
  display: flex;
  justify-content: space-between;
}

.card.square {
  text-align: center;

  .label {
    padding: 0.3rem;
  }

  .metric {
    font-size: 3rem;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &.negative {
    color: $red-dark;
  }

  &.half-square {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1; 
    max-width: 39%;
  }

  .submetric {
    color: gray;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .card.square {
    .label {
      font-size: 0.9rem;
      padding: 0.2rem;
    }
    .metric {
      font-size: 2rem;
    }

    .submetric {
      font-size: 0.9rem;
    }

    &.half-square {
      max-width: 38%;
    }
  }

}