.add-expense-toggle {
  text-align: center;
  padding: 1rem 0;

  .plus {
    font-size: 8rem;
    text-shadow: 2px 2px 5px #168e14;
    color: #018001;
  }

  &:hover {
    cursor: pointer;
  }
}

.category-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.25rem 0;
  min-height: 26px;
}

span.category {
  font-size: 1rem;
  padding-right: 1rem;
  &:hover {
    cursor: pointer;
    color: #000000;
  }
}

@media only screen and (max-width: 700px) {
}