label {
  display: block;
  margin: 0.5rem 0;

  input {
    width: 100%;
    box-sizing: border-box;
  }
}

.toggle-wrapper {
  display: flex;
  justify-content: center;
  padding: 0.3rem 0;

  .lnr {
    padding-right: 0.3rem;
  }

  &:hover {
    cursor: pointer;
  }
}