.new-expense-form {

  /* experimental */
  position: absolute;
  background: white;
  top: 4rem;
  transform: translateX(-50%);
  left: 50%;
  width: 80%;


  label {
    display: block;
  }

  input {
    width: 100%;
  }

  .one-input {
    margin: 1rem 0;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 1rem;

  button {
    padding: 0 1rem;
  }
}

.add-expense-toggle {
  font-size: 8rem;
  text-align: center;
  text-shadow: 2px 2px 5px #168e14;
  color: #018001;

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 700px) {
  .new-expense-form {
    width: 75%;
  }
}