.add-expense-toggle {
    width: 100%;
    margin: 1.7rem 0;
    padding: 1rem 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    .lnr-plus-circle {
      margin-right: 1rem;
    }

  &:hover {
    cursor: pointer;
  }
}

h2 {
  margin-top: 0;
}

input:focus {
  outline: none;
}

.amount-spent-wrapper {
  display: flex;
  align-items: center;
  font-size: 2rem;
  
  .amount-spent {
    border: none;
    border-bottom: 1px solid gray;
    font-size: 2rem;
  }
}

.category-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.25rem 0;
  min-height: 26px;
  line-height: 1.7;
}

span.category {
  font-size: 1rem;
  margin: 0 1rem 0.5rem 0;
  padding: 0rem 0.8rem;
  border: 1px solid gray;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    color: #000000;
    border: 1px solid #000000;
  }

  &.add-new-category {
    display: flex;
    align-items: center;
    border: none;
  }
}

.new-expense-form {
  margin-bottom: 1.7rem;

  button.submit {
    padding: 0.3rem 1rem;
  }
}

