.one-expense {
  .lnr {
    font-size: 1rem;
    text-decoration: none;
    color: #e47575;

    &:hover {
      color: red;
    }
  }

  .category {
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: gray;
    padding-bottom: 0.3rem;
  }
}