.new-expense-form {
  margin-bottom: 1.7rem;
}

.add-expense-toggle {
  .lnr-plus-circle {
    margin-right: 1rem;
  }
}

h2 {
  margin-top: 0;
}

.amount-spent-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  
  .amount-spent {
    font-size: 1.7rem;
    margin-left: 0.4rem;
  }
}

.category-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.25rem 0;
  min-height: 26px;
  line-height: 1.7;
}

span.category {
  font-size: 1rem;
  margin: 0 1rem 0.5rem 0;
  padding: 0rem 0.8rem;
  border: 1px solid gray;
  border-radius: 5px;

  &.selected, &.selected:hover{
    background: #000000;
    color: #FFFFFF;
  }

  &:hover {
    cursor: pointer;
  }

  &.add-new-category {
    display: flex;
    align-items: center;
    border: none;
  }
}