.one-expense {
  border: 1px solid #e0e0e0;
  margin: 0.7rem 0;
  border-radius: 5px;
  background: #f3f3f3;
  transition: background 1s, border-color 1s;

  display: flex;
  justify-content: space-between;


  .spending-info-wrapper{
    display: flex;
    flex-grow: 1;

    .amount-section {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      padding: 0 0.5rem;
      background: #ffffff;
      min-width: 8%;
      border-radius:5px 0 0 5px;
    }

    .spending-info {
      padding: 0.5rem;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
    }
  }

  .lnr {
    font-size: 1rem;
    text-decoration: none;
    color: #e47575;
    display: flex;
    align-items: center;
    padding: 0.5rem;

    &:hover {
      color: red;
      cursor: pointer;
    }
  }

  &.new {
    animation: 1s linear new-expense;
  }
}

@keyframes new-expense {
  0%   {
    background: #b8f9b8;
    border: 1px solid #80c980;
  }
  100% {
    background: #f3f3f3;
    border: 1px solid #e0e0e0;
  }
}