.new-expense-form {
  label {
    display: block;
  }

  input {
    width: 100%;
  }

  .one-input {
    margin: 1rem 0;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 1rem;

  button {
    padding: 0 1rem;
  }
}

.add-expense-toggle {
  text-align: center;
  padding: 1rem 0;

  .plus {
    font-size: 8rem;
    text-shadow: 2px 2px 5px #168e14;
    color: #018001;
  }

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 700px) {
}