.nav-bar{
  display: flex;
  justify-content: space-between;  
  border: 2px solid black;
}

.nav-button {
  border: none;
  background: none;
  text-align: center;
  width: 33%;
  padding: 1rem 0;

  &:hover{
    cursor: pointer;
    color: #1d82ff;
  }
}

.lnr {
  font-size: 1.5rem;
}