.occurence-calendar {
  background: #f5f5f5;
  padding: 0.4rem;
  border-radius: 0.3rem;
  margin: 0.8rem 0;
}

.cell-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.cell {
  width: 1.4rem;
  height: 1.4rem;
  margin: 2% 3%;
  border-radius: 0.3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  background: #e8e8e8;
  border: 2px solid #e8e8e8;

  &.has-spending {
    border-color: #c1636e;
  }

  &.invisible {
    background: none;
    border-color: rgba(0,0,0,0);
  }
}

@media only screen and (max-width: 700px) {
  .cell-wrapper {
    width: 100%;
  }

  .cell {
    margin: 2% 2.5%;
  }
}