@import './variables.scss';

.occurence-calendar {
  h3 {
    margin: 2% 3% 4%;
  }
}

.cell-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.cell {
  width: 1.4rem;
  height: 1.4rem;
  margin: 2% 3%;
  border-radius: 0.3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  background: #e8e8e8;
  transition: background 0.3s;

  &.has-spending {
    background: $blue-medium;
    color: $white;
  }

  &.invisible {
    background: none;
  }
}

@media only screen and (max-width: 700px) {
  .cell-wrapper {
    width: 100%;
  }

  .cell {
    margin: 2% 2.5%;
  }
}